m-keyboard/layouts/HardwareKeyboardDeadKeyMap.dtd

<!ELEMENT mappings (language+)>
<!ELEMENT language (mapping|include)+>
<!ELEMENT mapping EMPTY>
<!ELEMENT include EMPTY>

<!ATTLIST mappings
  version CDATA "1.0">

<!ATTLIST language
  layout CDATA #REQUIRED
  variant CDATA #IMPLIED>

<!ATTLIST mapping
  result CDATA #REQUIRED
  from CDATA #REQUIRED>

<!ATTLIST include
  layout CDATA #REQUIRED
  variant CDATA #IMPLIED>
